<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-6 mx-auto">

      <div class="card bg-light" style="width: 26rem;">
        <div class="card card-body">
          <h1 class="text-center mb-3"><%= polyglot.t("register.greetings")%></h1>
          <%- include('./partials/messages') -%>
          
          <form action="/users/register" method="POST">
            <div class="form-group">
              <label for="firstName"><%= polyglot.t("register.first_name")%></label>
              <input
                type="name"
                id="firstName"
                name="firstName"
                class="form-control"
                placeholder="<%= polyglot.t("register.first_name")%>"
                value="<%= typeof firstName != 'undefined' ? firstName : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="lastName"><%= polyglot.t("register.last_name")%></label>
              <input
                type="name"
                id="lastName"
                name="lastName"
                class="form-control"
                placeholder="<%= polyglot.t("register.last_name")%>"
                value="<%= typeof lastName != 'undefined' ? lastName : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="email"><%= polyglot.t("register.email")%></label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="<%= polyglot.t("register.email")%>"
                value="<%= typeof email != 'undefined' ? email : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="password"><%= polyglot.t("register.password")%></label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="<%= polyglot.t("register.create_password")%>"
                minlength="8" 
                maxlength="16" 
                value="<%= typeof password != 'undefined' ? password : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="password2"><%= polyglot.t("register.confirm_password")%></label>
              <input
                type="password"
                id="password2"
                name="password2"
                class="form-control"
                placeholder="<%= polyglot.t("register.confirm_password")%>"
                minlength="8" 
                maxlength="16" 
                value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              <%= polyglot.t("register.register")%>
            </button>
          </form>
        </div>
        <div class="card-footer text-center">
          <p class="lead"><%= polyglot.t("register.account_msg")%> <a href="/login?locale=<%= polyglot.locale()%>"><%= polyglot.t("register.login")%></a></p>
        </div>
      </div>
    </div>
  </div>
</div>